.Formation {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 238, 232);
  padding: 32px;
  margin: 32px 0;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Formation img {
  max-width: 200px;
}
