.FormContainer {
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 40px;
  margin: 32px auto;
  border-radius: 2px;
  width: max-content;
  max-width: 500px;
}

.FormContainer form input,
form label {
  width: 100%;
  margin: 4px auto;
}

.FormContainer form input,
.FormContainer form input:active {
  border: 2px solid #2b3142;
  padding: 8px;
  border-radius: 0px;
  font-size: 15px;
}

.FormContainer div {
  margin: 0 auto 16px auto;
}

.FormContainer button {
  background-color: #2b3142;
  display: block;
  padding: 10px 24px;
  font-size: 17px;
  margin: 8px 8px 8px 0;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  transition: 0.1s;
}

.FormContainer button:hover {
  cursor: pointer;
  background-color: #53b7ba;
}
