body {
  margin: 0;
  background-color: rgb(241, 246, 249);
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h3,
h5,
h6,
li,
input,
label,
span,
a {
  box-sizing: border-box;
  font-family: 'Avenir';
  color: #2b3142;
}

a {
  text-decoration: none;
  /* color: #2b3142; */
  transition: 0.1s;
}

a:hover {
  color: #53b7ba !important;
}
